<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider android:name=".spike.SourceFixtureProvider"
            android:authorities="${applicationId}.source-fixtures"
            android:exported="false" android:grantUriPermissions="false" />
        <service android:name=".spike.InstallerBinderTestService" android:exported="false" android:process=":binder_test" />
        <service android:name=".spike.InstallerDeathProbeService" android:exported="false" android:process=":binder_death_client" />
        <activity android:name=".spike.SpikeInstallerActivity" android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity-alias android:name=".spike.SpikeOtherInstallerActivity"
            android:targetActivity=".spike.SpikeInstallerActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity-alias>
        <receiver android:name=".spike.SpikeStatusReceiver" android:exported="false" />
    </application>
</manifest>
